SPOTIFY_CLIENT_ID=4266a6381682429eb2344b3c93c8368f
SPOTIFY_CLIENT_SECRET=8a618ef7e56149dd964a40560271f989
SPOTIFY_REFRESH_TOKEN= AQAXjYmQfwoc5D2UlHlJp7szTFZ2QaDhCnI4kKJUcibNWe4kAhgY1ilub3EmFEsz4Iqg16jNUM94W_HArQaoQHdtBxKjjbhAkqtoI20z96_eS_W1wJjKIKVANTboMTi9Td0
SPOTIFY_USER_ID=her-deivy
# Opcional: ruta al SQLite (por defecto data.sqlite en la raiz)
# DB_PATH=data.sqlite
