SPOTIFY_CLIENT_ID=4266a6381682429eb2344b3c93c8368f
SPOTIFY_CLIENT_SECRET=8a618ef7e56149dd964a40560271f989
SPOTIFY_REFRESH_TOKEN=AQBNHdQqXT2hFjVR9iOzQ1X88W6711X11ACJtgRfIBSKJ8XQcfSvWWtATsM1c7Ky1T79WlJuT3IqshEN7I_3PdYiOOUd_OXtKm3_lsGkY3mvlrSVEZojvbGeYmmh5WKnJ4E
SPOTIFY_USER_ID=her-deivy
# Opcional: ruta al SQLite (por defecto data.sqlite en la raiz)
# DB_PATH=data.sqlite